#canvas-basic {
  z-index: -100;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.container .row .col-lg-6 img {
  height: 400px;
}

.container-main {
  transform: translateY(40%);
}

html , .modal {
  overflow-x: hidden;
}

@media only screen and (max-width: 1400px) {
  html, .modal {
    overflow-x: hidden;
  }
}

a, h2, h5, p {
  font-family: 'Noto Sans TC', sans-serif;
}

h2, p {
  color: #fff;
}

.col-md-6 {
  padding: 0;
}

.center {
  vertical-align: 50px;
}

@media (max-width: 991.98px) {
  .container-main {
    transform: translateY(35%);
  }
  .container-main .row .col-lg-6 img {
    height: 300px;
  }
  .title {
    padding-top: 50px;
  }
}

@media (max-width: 575.98px) {
  .container-main {
    transform: translateY(45%);
  }
  .container-main .row .col-lg-6 img {
    height: 200px;
  }
  .title {
    padding-top: 50px;
  }
}